# Do not remove or rename entries in this file, only add new ones
# See https://github.com/flutter/flutter/issues/128635 for more context.

# Visual Studio Code related
.classpath
.project
.settings/
.idea
node/**

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Android related
**/android/**
**/ios/**
**/macos/**
**/windows/**
**/linux/**
.metadata
